html body {
    background: url(../images/witewall_3.png);
}
h1 {
    color: royalblue;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: orchid;
    font-size: 36px;
    margin-left: 10%;
}
header {
    color: orchid;
    font-size: 69px;
    font-weight: bolder;
    margin-left: 10%;
}
p {
    color: orchid;
    font-size: 21px;
    margin-left: 10%;
}
span {
    color: blueviolet;
    font-size: 27px;
    word-spacing: 14px;
}
#italic {
    color: orchid;
    font-size: 21px;
    font-style: italic;
    margin-left: 10%;
}
